Bin/**
bin/**
Build/**
build/**
.vs/**
*.exe
*.dll
*.pdb
*.vcxproj.user
*.ncb
*.suo
*.aps
ipch/**
*.sdf
*.opensdf
*.opendb
x64/**
EpochLLVM/x64/**
EpochRT/x64/**
EpochBGFXWrapper/x64/**
EpochBGFXWrapper/EpochBGFXWrapper/x64/**
EpochBGFXWrapper/ipch/**
EpochBGFXWrapper/EpochBGFXWrapper/ipch/**
EpochBGFXWrapper/Debug/**
EpochBGFXWrapper/EpochBGFXWrapper/Debug/**
/EpochSDK.VC.db
/EpochPDB/EpochPDB/x64
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/bin/Debug
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectTemplate/bin/Debug/ProjectTemplates/Epoch/1033
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectTemplate/obj/Debug/Epoch/1033
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectTemplate/obj/Debug/Epoch.ProjectTemplate.csprojResolveAssemblyReference.cache
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectTemplate/obj/Debug/Epoch.ProjectTemplate.csproj.FileListAbsolute.txt
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/obj/Debug/extension.vsixmanifest
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/obj/Debug/EpochVS_MarkupCompile.cache
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/obj/Debug/EpochVS.VSPackage.resources
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/obj/Debug/EpochVS.Resources.resources
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/obj/Debug/EpochVS.pkgdef
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/obj/Debug/EpochVS.latest.pkgdef
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/obj/Debug/EpochVS.g.resources
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/obj/Debug/Epoch.ProjectType.csprojResolveAssemblyReference.cache
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/obj/Debug/Epoch.ProjectType.csproj.VsixDeployedFileListAbsolute.txt
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/obj/Debug/Epoch.ProjectType.csproj.GenerateResource.Cache
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/obj/Debug/Epoch.ProjectType.csproj.FileListAbsolute.txt
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/obj/Debug/BuildSystem/Rules
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectTemplate/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/EpochVisualStudio/EpochProjectType/Epoch/Epoch.VC.db
/EpochVisualStudio/EpochProjectType/Epoch/EpochCodeTemplate/obj/Debug
/EpochVisualStudio/EpochProjectType/Epoch/EpochBuild/obj/Debug
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectTemplate/obj/Release
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/bin/Release
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/obj/Release
/EpochVisualStudio/EpochProjectType/Epoch/EpochCodeTemplate/obj/Release
/EpochVisualStudio/EpochProjectType/Epoch/EpochCodeTemplate/bin/Release/ItemTemplates/Epoch/1033
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectTemplate/bin/Release/ProjectTemplates/Epoch/1033
/EpochVisualStudio/EpochProjectType/Epoch/EpochBuild/obj/Release
/EpochVisualStudio/EpochProjectType/Epoch/Release
/EpochVisualStudio/EpochProjectType/Epoch/EpochSetup/Release/EpochSetup.msi
/EpochVisualStudio/EpochProjectType/Epoch/VSConfigUpdateUtility/Release
/EpochVisualStudio/EpochVSShell/EpochVSShell/EpochVSShell.AboutBoxPackage/obj/Debug
/EpochVisualStudio/EpochVSShell/EpochVSShell/ShellExtensionsVSIX/obj/Debug
/EpochVisualStudio/EpochVSShell/Debug/1033
/EpochVisualStudio/EpochVSShell/Debug/EpochVSShell.ilk
/EpochVisualStudio/EpochVSShell/Debug/Extensions/Application
/EpochVisualStudio/EpochVSShell/EpochVSShell/EpochVSShell/Debug
/EpochVisualStudio/EpochVSShell/EpochVSShell/EpochVSShell.AboutBoxPackage/bin/Debug
/EpochVisualStudio/EpochVSShell/EpochVSShell/EpochVSShellUI/Debug
/EpochVisualStudio/EpochVSShell/EpochVSShell/ShellExtensionsVSIX/bin/Debug
/EpochVisualStudio/EpochVSShell/ipch/EPOCHVSSHELL-1e46b706
/EpochVisualStudio/EpochVSIX/EpochVSIX/EpochVSIX.ProjectTemplate/bin/Debug/ProjectTemplates/EpochVSIX/1033
/EpochVisualStudio/EpochVSIX/EpochVSIX/EpochVSIX.ProjectTemplate/obj/Debug
/EpochVisualStudio/EpochVSIX/EpochVSIX/EpochSetup/Debug
/EpochVisualStudio/EpochVSIX/EpochVSIX/EpochVSIX.ProjectType/bin/Debug
/EpochVisualStudio/EpochVSIX/EpochVSIX/EpochVSIX.ProjectType/obj/Debug
/EpochVisualStudio/EpochVSIX/packages
/EpochVisualStudio/EpochVSIX/EpochVSIX/EpochVSIX.ProjectTemplate/bin/Debug/ProjectTemplates/Epoch Language/1033
/EpochVisualStudio/EpochVSIX/EpochVSIX.ItemTemplate/bin/Debug/ItemTemplates/Epoch/1033
/EpochVisualStudio/EpochVSIX/EpochVSIX.ItemTemplate/obj/Debug
/EpochVisualStudio/EpochVSIX/EpochVSIX/EpochVSIX.ProjectTemplate/bin/Debug/ProjectTemplates/Epoch/1033
/EpochVisualStudio/EpochVSIX/EpochVSIX.ItemTemplate/bin/Debug/ItemTemplates/EpochVSIX/1033
/EpochVisualStudio/EpochVSIX/EpochBuild/obj/Debug
/EpochTests/Projects/TestSuite/bin/Debug
/EpochTests/Projects/TestSuite/TestSuite.eprj.user
/EpochVisualStudio/EpochVSIX/EpochSetupWiX/obj
/EpochVisualStudio/EpochVSIX/EpochSetupWiX/bin
/EpochVisualStudio/EpochVSIX/EpochSetupWiX/Assets
/EpochDevTools/Compiler.VC.db
/EpochDevTools/Compiler.eprj.user
/EpochTests/Projects/TestSuite/TestSuite.VC.db
/EpochDevTools32/Compiler32.VC.db
/EpochDevTools/bin/Debug
/EpochDevTools32/Debug
/EpochDevTools32/EpochPDBShim/Debug
/EpochDevTools32/ipch/EPOCHPDBSHIM-79fc71c3
/EpochTests/PDBTest/PDBTest.VC.db
/EpochTests/PDBTest/bin/Debug
/Tools/MSFViewer/bin/Debug
/Tools/MSFViewer/obj/Debug
/Tools/MSFViewer/bin/Release
/Tools/MSFViewer/obj/Release
/Debug
/EpochPDB/EpochPDB/Debug
/EpochPDB/EpochPDB/Release
/Release
/EpochDevTools32/bin/Debug
/EpochDevTools32/.vs/config
/EpochVisualStudio/EpochVSIX/.vs/EpochVSIX/v15/Server/sqlite3
/EpochVisualStudio/EpochVSIX/Backup
/EpochVisualStudio/EpochVSIX/EpochVSIX/EpochVSIX.ProjectTemplate/obj/Release
/EpochVisualStudio/EpochVSIX/EpochVSIX.ItemTemplate/obj/Release
/EpochVisualStudio/EpochVSIX/UpgradeLog.htm
/EpochVisualStudio/EpochVSShell/EpochVSShell/EpochVSShell.AboutBoxPackage/obj/Release
/EpochVisualStudio/EpochVSShell/EpochVSShell/ShellExtensionsVSIX/obj/Release
/EpochVisualStudio/EpochVSIX/EpochVSIX.ProjectType/EpochVSIX.ProjectType.ProjectType/bin/Debug
/EpochVisualStudio/EpochVSIX/EpochVSIX.ProjectType/EpochVSIX.ProjectType.ProjectType/obj/Debug
/EpochDevTools/obj/x64/Debug
/EpochVisualStudio/EpochVSIX/EpochProjectType/EpochProjectType.ProjectType/bin/Debug
/EpochVisualStudio/EpochVSIX/EpochProjectType/EpochProjectType.ProjectType/obj/Debug
/EpochVisualStudio/EpochVSIX/EpochVSIX.ProjectTemplate/bin/Debug/ProjectTemplates/Epoch/1033
/EpochVisualStudio/EpochVSIX/EpochVSIX.ProjectTemplate/obj/Debug
/Tools/MSFViewer/.vs/MSFViewer/v15/Server/sqlite3
/EpochDevTools32/EpochPDBShim/x64/Debug
/EpochDevTools32/x64/Debug
/EpochDevTools32/.vs/Compiler32/v15
