Bin/**
bin/**
Build/**
build/**
.vs/**
*.exe
*.dll
*.pdb
*.vcxproj.user
*.ncb
*.suo
*.aps
ipch/**
*.sdf
*.opensdf
*.opendb
x64/**
EpochLLVM/x64/**
EpochRT/x64/**
EpochBGFXWrapper/x64/**
EpochBGFXWrapper/EpochBGFXWrapper/x64/**
EpochBGFXWrapper/ipch/**
EpochBGFXWrapper/EpochBGFXWrapper/ipch/**
EpochBGFXWrapper/Debug/**
EpochBGFXWrapper/EpochBGFXWrapper/Debug/**
/EpochSDK.VC.db
/EpochPDB/EpochPDB/x64
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/bin/Debug
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectTemplate/bin/Debug/ProjectTemplates/Epoch/1033
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectTemplate/obj/Debug/Epoch/1033
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectTemplate/obj/Debug/Epoch.ProjectTemplate.csprojResolveAssemblyReference.cache
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectTemplate/obj/Debug/Epoch.ProjectTemplate.csproj.FileListAbsolute.txt
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/obj/Debug/extension.vsixmanifest
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/obj/Debug/EpochVS_MarkupCompile.cache
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/obj/Debug/EpochVS.VSPackage.resources
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/obj/Debug/EpochVS.Resources.resources
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/obj/Debug/EpochVS.pkgdef
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/obj/Debug/EpochVS.latest.pkgdef
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/obj/Debug/EpochVS.g.resources
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/obj/Debug/Epoch.ProjectType.csprojResolveAssemblyReference.cache
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/obj/Debug/Epoch.ProjectType.csproj.VsixDeployedFileListAbsolute.txt
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/obj/Debug/Epoch.ProjectType.csproj.GenerateResource.Cache
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/obj/Debug/Epoch.ProjectType.csproj.FileListAbsolute.txt
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/obj/Debug/BuildSystem/Rules
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectTemplate/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/EpochVisualStudio/EpochProjectType/Epoch/Epoch.VC.db
/EpochVisualStudio/EpochProjectType/Epoch/EpochCodeTemplate/obj/Debug
/EpochVisualStudio/EpochProjectType/Epoch/EpochBuild/obj/Debug
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectTemplate/obj/Release
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/bin/Release
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/obj/Release
/EpochVisualStudio/EpochProjectType/Epoch/EpochCodeTemplate/obj/Release
/EpochVisualStudio/EpochProjectType/Epoch/EpochCodeTemplate/bin/Release/ItemTemplates/Epoch/1033
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectTemplate/bin/Release/ProjectTemplates/Epoch/1033
/EpochVisualStudio/EpochProjectType/Epoch/EpochBuild/obj/Release
/EpochVisualStudio/EpochProjectType/Epoch/Release
/EpochVisualStudio/EpochProjectType/Epoch/EpochSetup/Release/EpochSetup.msi
/EpochVisualStudio/EpochProjectType/Epoch/VSConfigUpdateUtility/Release
/EpochVisualStudio/EpochVSShell/EpochVSShell/EpochVSShell.AboutBoxPackage/obj/Debug
/EpochVisualStudio/EpochVSShell/EpochVSShell/ShellExtensionsVSIX/obj/Debug
