.vs/**
*.exe
*.dll
*.pdb
*.vcxproj.user
*.eprj.user
*.ncb
*.suo
*.aps
*.sdf
*.opensdf
*.opendb
*.VC.db
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/bin/**
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectTemplate/bin/**
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectTemplate/obj/**
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/obj/**
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectTemplate/obj/**
/EpochVisualStudio/EpochProjectType/Epoch/EpochCodeTemplate/obj/Debug
/EpochVisualStudio/EpochProjectType/Epoch/EpochBuild/obj/Debug
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectTemplate/obj/Release
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/bin/Release
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectType/obj/Release
/EpochVisualStudio/EpochProjectType/Epoch/EpochCodeTemplate/obj/Release
/EpochVisualStudio/EpochProjectType/Epoch/EpochCodeTemplate/bin/Release/**
/EpochVisualStudio/EpochProjectType/Epoch/Epoch/Epoch.ProjectTemplate/bin/**
/EpochVisualStudio/EpochProjectType/Epoch/EpochBuild/obj/Release
/EpochVisualStudio/EpochProjectType/Epoch/Release
/EpochVisualStudio/EpochProjectType/Epoch/EpochSetup/Release/EpochSetup.msi
/EpochVisualStudio/EpochProjectType/Epoch/VSConfigUpdateUtility/Release
/EpochVisualStudio/EpochVSShell/EpochVSShell/EpochVSShell.AboutBoxPackage/obj/Debug
/EpochVisualStudio/EpochVSShell/EpochVSShell/ShellExtensionsVSIX/obj/Debug
/EpochVisualStudio/EpochVSShell/Debug/**
/EpochVisualStudio/EpochVSShell/EpochVSShell/EpochVSShell/Debug
/EpochVisualStudio/EpochVSShell/EpochVSShell/EpochVSShell.AboutBoxPackage/bin/Debug
/EpochVisualStudio/EpochVSShell/EpochVSShell/EpochVSShellUI/Debug
/EpochVisualStudio/EpochVSShell/EpochVSShell/ShellExtensionsVSIX/bin/Debug
/EpochVisualStudio/EpochVSShell/ipch/**
/EpochVisualStudio/EpochVSIX/EpochVSIX/EpochVSIX.ProjectTemplate/bin/Debug/ProjectTemplates/EpochVSIX/1033
/EpochVisualStudio/EpochVSIX/EpochVSIX/EpochVSIX.ProjectTemplate/obj/Debug
/EpochVisualStudio/EpochVSIX/EpochVSIX/EpochSetup/Debug
/EpochVisualStudio/EpochVSIX/EpochVSIX/EpochVSIX.ProjectType/bin/Debug
/EpochVisualStudio/EpochVSIX/EpochVSIX/EpochVSIX.ProjectType/obj/Debug
/EpochVisualStudio/EpochVSIX/packages
/EpochVisualStudio/EpochVSIX/EpochVSIX/EpochVSIX.ProjectTemplate/bin/Debug/ProjectTemplates/Epoch Language/1033
/EpochVisualStudio/EpochVSIX/EpochVSIX.ItemTemplate/bin/Debug/ItemTemplates/Epoch/1033
/EpochVisualStudio/EpochVSIX/EpochVSIX.ItemTemplate/obj/Debug
/EpochVisualStudio/EpochVSIX/EpochVSIX/EpochVSIX.ProjectTemplate/bin/Debug/ProjectTemplates/Epoch/1033
/EpochVisualStudio/EpochVSIX/EpochVSIX.ItemTemplate/bin/Debug/ItemTemplates/EpochVSIX/1033
/EpochVisualStudio/EpochVSIX/EpochBuild/obj/Debug
/EpochVisualStudio/EpochVSIX/EpochSetupWiX/obj
/EpochVisualStudio/EpochVSIX/EpochSetupWiX/bin
/EpochVisualStudio/EpochVSIX/EpochSetupWiX/Assets
/Tools/MSFViewer/bin/Debug
/Tools/MSFViewer/obj/Debug
/Tools/MSFViewer/bin/Release
/Tools/MSFViewer/obj/Release
/EpochVisualStudio/EpochVSIX/.vs/EpochVSIX/v15/Server/sqlite3
/EpochVisualStudio/EpochVSIX/Backup
/EpochVisualStudio/EpochVSIX/EpochVSIX/EpochVSIX.ProjectTemplate/obj/Release
/EpochVisualStudio/EpochVSIX/EpochVSIX.ItemTemplate/obj/Release
/EpochVisualStudio/EpochVSIX/UpgradeLog.htm
/EpochVisualStudio/EpochVSShell/EpochVSShell/EpochVSShell.AboutBoxPackage/obj/Release
/EpochVisualStudio/EpochVSShell/EpochVSShell/ShellExtensionsVSIX/obj/Release
/EpochVisualStudio/EpochVSIX/EpochVSIX.ProjectType/EpochVSIX.ProjectType.ProjectType/bin/Debug
/EpochVisualStudio/EpochVSIX/EpochVSIX.ProjectType/EpochVSIX.ProjectType.ProjectType/obj/Debug
/EpochVisualStudio/EpochVSIX/EpochProjectType/EpochProjectType.ProjectType/bin/Debug
/EpochVisualStudio/EpochVSIX/EpochProjectType/EpochProjectType.ProjectType/obj/Debug
/EpochVisualStudio/EpochVSIX/EpochVSIX.ProjectTemplate/bin/Debug/ProjectTemplates/Epoch/1033
/EpochVisualStudio/EpochVSIX/EpochVSIX.ProjectTemplate/obj/Debug
/Tools/MSFViewer/.vs/MSFViewer/v15/Server/sqlite3
/EpochVisualStudio/EpochVSIX/.vs/EpochVSIX/v15/Browse.VC.db
