/* Header styles */
my-header {
  display: block;
  background-color: rgb(0, 0, 0);
  padding: 5px;
}

div.page-title 
{
  text-align: center;
  
  border-bottom: 1px solid darkblue;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

h1.title
{
  margin: 0px;
  padding: 0px;
  color: white;
}

h3.subtitle
{
  margin: 0px;
  padding: 0px;
  color: white;
  font-weight: 500;
}

div.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  padding: 0;
  margin: 0;
}

a.navlink
{
  margin: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  
  background-color: rgb(120, 120, 120);
  
  flex: 1 0 auto;
  height: 35px;
  
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

a.navlink:hover {
  background-color: rgb(160, 160, 160);
  text-decoration: none !important;
}

/* Content styling */

body
{
  font-family: Calibri, Helvetica, Arial, sans-serif;
  padding: 0px;
  background-color: #FFFFFF;
  margin: 0px;
}

div.content-box {
  padding: 10px 20px;
  margin: 10px;
  background-color: #D2D2D2;
}

.main_content_lane
{
  max-width: 700px;
  text-align: justify;
  
  margin-left: auto;
  margin-right: auto;
}

.main_content {
  padding: 0 10px;
  background-color: lightgrey;
}

li
{
  margin-bottom: 4px;
}

pre
{
  background-color: lightgrey;
  margin-left: 15px;
  margin-right: 15px;
  padding: 4px;
}

a.navlink
{
  color: white;
  text-decoration: none;
}

a.navlink:hover
{
  text-decoration: underline;
}


